.home-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.banner-image {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.banner-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.close-banner {
  position: absolute;
  top: 10px;
  right: 10px;
  /* background-color: red; */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  height: 200px;
}

.gadget-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gadget-item {
  flex: 1 1 calc(25% - 20px);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gadget-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.gadget-item h3 {
  margin: 10px 0;
  font-size: 18px;
}

.gadget-item p {
  margin: 5px 0;
  color: #555;
}

.gadget-item button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.gadget-item button:hover {
  background-color: #0056b3;
}
